language: node_js
node_js:
- '0.10'
before_script:
- npm install -g grunt-cli
script: grunt test
deploy:
  provider: npm
  email: henri.bergius@iki.fi
  api_key:
    secure: btUEMhywXMDFvvaDlb63n4D4b7GeaEsd8gAR64+tbf+Fmu28TfRrtMsigc7aZb1LtspGjObiw09sLrl73iKtd2wtvSoYVELed2y6pbba7Mhjduj9MkJSQtB4rPQ4N+8fivhpcTe4dITzQ1CJfzv6askNFAAD9Dv0StOmTH9lPAI=
  on:
    tags: true
    repo: noflo/grunt-noflo-manifest
